| Test Case ID  | Description  | Test Executed by | Test Cycle 1 | Test Cycle 1 Update | Test Executed by | Test Cycle 2 | Test Cycle 2 Update|
| ------- | ------- | -------| ------- | ------- |-------|-------|-------|
| Landing_1 |Test to see if landing page is loading  | Nikita| Pass | ------- |Neha|Pass|-------|
| Landing_2 |Test to see if the landing page displays news  | Nikita| Fail | ------- |Neha|Pass|-------|
