| Test Case ID  | Description  | Test Executed by | Test Cycle 1 | Test Cycle 1 Update | Test Executed by | Test Cycle 2 | Test Cycle 2 Update|
| ------- | ------- | -------| ------- | ------- |-------|-------|-------|
| Landing_1 |Test to see if landing page is loading  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_2 |Test to see if the landing page displays news  | Nikita| Fail | ------- |Pallavi|Pass|-------|
| Landing_3 |Test to see if the news on the landing page are from the general category | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_4 |Test to see the functionality of the login button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_5 |Test to see the functionality of the register button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_6 |Test to see functionality of refresh button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_7	 |Test to see functionality of the News app button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_8 |	Test to see if the new articles can be expanded further  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_1	 |	Test the functionality when the correct format of credentials are entered  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_2 |Test the functionality when the incorrect format of email is entered  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_3 |Test the functionality when the username entered has less than 8 characters  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_4 |	Test the functionality when the password typed does not have atleast 8 characters with lowercase, uppercase and symbols  | Nikita| Pass | ------- |Pallavi|Pass|-------|
